In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [2]:
engine = create_engine('sqlite:///banks.db', echo = True)
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

2021-03-08 19:55:19,429 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-08 19:55:19,430 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,433 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-08 19:55:19,433 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,435 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-03-08 19:55:19,436 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,439 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("Banks")
2021-03-08 19:55:19,440 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,444 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Banks' AND type = 'table'
2021-03-08 19:55:19,445 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,447 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Banks")
2021-03-08 19:55:19,448 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,449 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Banks")
2021-03-08 19:55:19,450 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,451 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Banks' AND type = 'table'
2021-03-08 19:55:19,452 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,457 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Banks")
2021-03-08 19:55:19,459 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,461 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Banks_index")
2021-03-08 19:55:19,463 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,465 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Banks")
2021-03-08 19:55:19,467 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,468 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Banks_index")
2021-03-08 19:55:19,470 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 19:55:19,471 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Banks' AND type = 'table'
2021-03-08 19:55:19,472 INFO sqlalchemy.engine.base.Engine ()

In [3]:
insp = inspect(engine)
insp.get_columns('banks')

2021-03-08 19:55:19,497 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("banks")
2021-03-08 19:55:19,499 INFO sqlalchemy.engine.base.Engine ()

[{'name': 'index',
  'type': BIGINT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Bank',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Country',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Total Assets',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Balance Sheet Date',
  'type': DATETIME(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [4]:
with engine.connect() as con:
    rs = con.execute('SELECT * FROM banks')
    for row in rs:
        print(row)

)
(596, 'Hana Financial Group', 'South Korea', 288.875, '2016-12-31 00:00:00.000000')
(597, 'OCBC', 'Singapore', 283.423, '2016-12-31 00:00:00.000000')
(598, 'China Guangfa Bank (CGB)', 'China', 277.147, '2016-12-31 00:00:00.000000')
(599, 'Nationwide Building Society', 'UK', 276.358, '2016-12-31 00:00:00.000000')
(600, 'Brazilian Development Bank (BNDES)', 'Brazil', 269.39, '2016-12-31 00:00:00.000000')
(601, 'Korea Development Bank', 'South Korea', 268.621, '2016-12-31 00:00:00.000000')
(602, 'Woori Bank', 'South Korea', 257.76599999999996, '2016-12-31 00:00:00.000000')
(603, 'Landesbank Baden-Wurttemberg', 'Germany', 257.635, '2016-12-31 00:00:00.000000')
(604, 'Cathay Financial Holding', 'Taiwan', 252.09599999999998, '2016-12-31 00:00:00.000000')
(605, 'La Banque Postale', 'France', 242.785, '2016-12-31 00:00:00.000000')
(606, 'State Street Corp', 'USA', 242.69799999999998, '2016-12-31 00:00:00.000000')
(608, 'Swedbank', 'Sweden', 237.611, '2016-12-31 00:00:00.000000')
(609, 'United Overseas Bank (UOB)', 'Singapore', 235.12, '2016-12-31 00:00:00.000000')
(610, 'Bank of Jiangsu', 'China', 230.12599999999998, '2016-12-31 00:00:00.000000')
(611, 'Dexia', 'Belgium', 225.012, '2016-12-31 00:00:00.000000')
(612, 'Banco Sabadell', 'Spain', 224.734, '2016-12-31 00:00:00.000000')
(613, 'Bayerische Landesbank', 'Germany', 224.355, '2016-12-31 00:00:00.000000')
(614, 'Charles Schwab Corp', 'USA', 223.38299999999998, '2016-12-31 00:00:00.000000')
(615, 'Erste Group Bank AG', 'Austria', 220.206, '2016-12-31 00:00:00.000000')
(616, 'BB&T; Corporation', 'USA', 219.27599999999998, '2016-12-31 00:00:00.000000')
(617, 'Raiffeisen Switzerland', 'Switzerland', 214.886, '2016-12-31 00:00:00.000000')
(618, 'VTB Bank', 'Russia', 208.572, '2016-12-31 00:00:00.000000')
(619, 'Suntrust Banks', 'USA', 204.875, '2016-12-31 00:00:00.000000')
(620, 'Bankia', 'Spain', 201.107, '2016-12-31 00:00:00.000000')
(621, 'Nykredit Group', 'Denmark', 199.222, '2016-12-31 00:00:00.000000')
(622, 'Qatar National Bank', 'Qatar', 197.75599999999997, '2016-12-31 00:00:00.000000')
(623, 'Fubon Financial Holding', 'Taiwan', 196.81599999999997, '2016-12-31 00:00:00.000000')
(625, 'China Zheshang Bank', 'China', 195.075, '2016-12-31 00:00:00.000000')
(626, 'Desjardins Group', 'Canada', 191.69400000000002, '2016-12-31 00:00:00.000000')
(627, 'Belfius', 'Belgium', 186.888, '2016-12-31 00:00:00.000000')
(628, 'Norddeutsche Landesbank (NORD/LB)', 'Germany', 184.85299999999998, '2016-12-31 00:00:00.000000')
(629, 'Banco Bpm', 'Italy', 177.935, '2016-12-31 00:00:00.000000')
(630, 'Landesbank Hessen-Thuringen (Helaba)', 'Germany', 174.704, '2016-12-31 00:00:00.000000')
(632, 'Concordia Financial Group', 'Japan', 164.642, '2016-12-31 00:00:00.000000')
(633, 'Maybank', 'Malaysia', 164.18400000000003, '2016-12-31 00:00:00.000000')
(634, 'Ally Financial', 'USA', 163.72799999999998, '2016-12-31 00:00:00.000000')
(635, 'BNG Bank', 'Netherlands', 162.86, '2016-12-31 00:00:00.000000')
(636, 'Banca Monte dei Paschi di Siena', 'Italy', 161.942, '2016-12-31 00:00:00.000000')
(637, 'American Express Company', 'USA', 158.885, '2016-12-31 00:00:00.000000')
(639, 'Industrial & Commercial Bank of China', 'China', 3764.27, '2017-06-30 00:00:00.000000')
(640, 'China Construction Bank', 'China', 3200.38, '2017-06-30 00:00:00.000000')
(641, 'Agricultural Bank of China', 'China', 3035.37, '2017-06-30 00:00:00.000000')
(642, 'Bank of China', 'China', 2866.05, '2017-06-30 00:00:00.000000')
(643, 'Mitsubishi UFJ Financial Group', 'Japan', 2713.6, '2017-06-30 00:00:00.000000')
(644, 'JPMorgan Chase & Co', 'USA', 2563.17, '2017-06-30 00:00:00.000000')
(645, 'HSBC Holdings', 'UK', 2492.44, '2017-06-30 00:00:00.000000')
(646, 'BNP Paribas', 'France', 2447.84, '2017-06-30 00:00:00.000000')
(647, 'Bank of America', 'USA', 2254.53, '2017-06-30 00:00:00.000000')
(648, 'China Development Bank', 'China', 2080.27, '2016-12-31 00:00:00.000000')
(649, 'Credit Agricole Group', 'France', 1989.22, '2017-06-30 00:00:00.000000')
(650, 'Wells Fargo', 'USA', 1930.87, '2017-06-30 00:00:00.000000')
(651, 'Japan Post Bank', 'Japan', 1875.43, '2017-06-30 00:00:00.000000')
(652, 'Citigroup Inc', 'USA', 1864.06, '2017-06-30 00:00:00.000000')
(653, 'Sumitomo Mitsui Financial Group', 'Japan', 1800.6, '2017-06-30 00:00:00.000000')
(654, 'Deutsche Bank', 'Germany', 1791.92, '2017-06-30 00:00:00.000000')
(655, 'Mizuho Financial Group', 'Japan', 178967.0, '2017-06-30 00:00:00.000000')
(656, 'Banco Santander', 'Spain', 1650.88, '2017-06-30 00:00:00.000000')
(657, 'Societe Generale', 'France', 1542.32, '2017-06-30 00:00:00.000000')
(658, 'Barclays PLC', 'UK', 1476.1, '2017-06-30 00:00:00.000000')
(659, 'Groupe BPCE', 'France', 1414.42, '2017-06-30 00:00:00.000000')
(660, 'Bank of Communications', 'China', 1317.63, '2017-06-30 00:00:00.000000')
(661, 'Postal Savings Bank of China', 'China', 1260.53, '2017-06-30 00:00:00.000000')
(662, 'Lloyds Banking Group', 'UK', 1059.53, '2017-06-30 00:00:00.000000')
(663, 'Royal Bank of Scotland Group', 'UK', 1017.58, '2017-06-30 00:00:00.000000')
(664, 'Norinchukin Bank', 'Japan', 1001.72, '2017-06-30 00:00:00.000000')
(665, 'ING Bank NV', 'Netherlands', 984.695, '2017-06-30 00:00:00.000000')
(666, 'UniCredit S.p.A.', 'Italy', 944.804, '2017-06-30 00:00:00.000000')
(667, 'Industrial Bank Co. Ltd', 'China', 941.9730000000001, '2017-06-30 00:00:00.000000')
(668, 'UBS', 'Switzerland', 930.2460000000001, '2017-06-30 00:00:00.000000')
(671, 'China Merchants Bank', 'China', 914.684, '2017-06-30 00:00:00.000000')
(672, 'Goldman Sachs Group', 'USA', 906.518, '2017-06-30 00:00:00.000000')
(673, 'Credit Mutuel', 'France', 906.3910000000001, '2016-12-31 00:00:00.000000')
(674, 'Intesa Sanpaolo', 'Italy', 900.1289999999999, '2017-06-30 00:00:00.000000')
(675, 'Agricultural Development Bank of China', 'China', 873.419, '2017-06-30 00:00:00.000000')
(676, 'Shanghai Pudong Development Bank', 'China', 872.74, '2017-06-30 00:00:00.000000')
(677, 'China Minsheng Banking Corp', 'China', 850.877, '2017-06-30 00:00:00.000000')
(678, 'Morgan Stanley', 'USA', 841.0160000000001, '2017-06-30 00:00:00.000000')
(679, 'China CITIC Bank Corp', 'China', 833.763, '2017-06-30 00:00:00.000000')
(680, 'Credit Suisse Group', 'Switzerland', 818.073, '2017-06-30 00:00:00.000000')
(681, 'BBVA', 'Spain', 802.3639999999999, '2017-06-30 00:00:00.000000')
(682, 'Commonwealth Bank of Australia', 'Australia', 750.3919999999999, '2017-06-30 00:00:00.000000')
(683, 'Nordea', 'Sweden', 734.201, '2017-06-30 00:00:00.000000')
(684, 'Rabobank Group', 'Netherlands', 711.8589999999999, '2017-06-30 00:00:00.000000')
(687, 'Standard Chartered Plc', 'UK', 657.638, '2017-06-30 00:00:00.000000')
(688, 'European Investment Bank', 'Luxembourg', 654.749, '2016-12-31 00:00:00.000000')
(691, 'China Everbright Bank', 'China', 595.097, '2017-06-30 00:00:00.000000')
(692, 'DZ Bank AG', 'Germany', 586.393, '2017-06-30 00:00:00.000000')
(693, 'KfW Group', 'Germany', 567.366, '2017-06-30 00:00:00.000000')
(694, 'Sumitomo Mitsui Trust Holdings', 'Japan', 565.3340000000001, '2017-06-30 00:00:00.000000')
(695, 'Commerzbank', 'Germany', 556.582, '2017-06-30 00:00:00.000000')
(696, 'Danske Bank', 'Denmark', 548.795, '2017-06-30 00:00:00.000000')
(698, 'State Bank of India', 'India', 514.649, '2017-06-30 00:00:00.000000')
(699, 'The Export-Import Bank of China', 'China', 491.88800000000003, '2016-12-31 00:00:00.000000')
(700, 'Cassa Depositi e Prestiti (CDP)', 'Italy', 474.042, '2017-06-30 00:00:00.000000')
(701, 'U.S. Bancorp', 'USA', 463.844, '2017-06-30 00:00:00.000000')
(702, 'ABN AMRO Group NV', 'Netherlands', 461.27, '2017-06-30 00:00:00.000000')
(703, 'Ping An Bank', 'China', 456.184, '2017-06-30 00:00:00.000000')
(704, 'Resona Holdings', 'Japan', 437.514, '2017-06-30 00:00:00.000000')
(705, 'Banco do Brasil SA', 'Brazil', 437.059, '2017-06-30 00:00:00.000000')
(706, 'Sberbank of Russia', 'Russia', 434.749, '2017-06-30 00:00:00.000000')
(707, 'CaixaBank', 'Spain', 432.559, '2017-06-30 00:00:00.000000')
(709, 'Itau Unibanco Holding SA', 'Brazil', 411.545, '2017-06-30 00:00:00.000000')
(710, 'Nomura Holdings', 'Japan', 396.73400000000004, '2017-06-30 00:00:00.000000')
(712, 'PNC Financial Services Group', 'USA', 372.19, '2017-06-30 00:00:00.000000')
(713, 'KB Financial Group', 'South Korea', 368.645, '2017-06-30 00:00:00.000000')
(714, 'Shinkin Central Bank (SCB)', 'Japan', 365.44699999999995, '2017-06-30 00:00:00.000000')
(715, 'Shinhan Financial Group', 'South Korea', 361.365, '2017-06-30 00:00:00.000000')
(716, 'Banco Bradesco SA', 'Brazil', 359.51300000000003, '2017-06-30 00:00:00.000000')
(717, 'Hua Xia Bank', 'China', 357.49699999999996, '2017-06-30 00:00:00.000000')
(718, 'Bank of New York Mellon Corp', 'USA', 354.815, '2017-06-30 00:00:00.000000')
(719, 'DBS Group Holdings', 'Singapore', 353.32300000000004, '2017-06-30 00:00:00.000000')
(720, 'Capital One Financial Corporation', 'USA', 350.593, '2017-06-30 00:00:00.000000')
(721, 'Svenska Handelsbanken', 'Sweden', 350.231, '2017-06-30 00:00:00.000000')
(722, 'KBC Group NV', 'Belgium', 338.659, '2017-06-30 00:00:00.000000')
(723, 'NongHyup Financial Group', 'South Korea', 333.156, '2017-06-30 00:00:00.000000')
(724, 'Bank of Beijing', 'China', 330.36, '2017-06-30 00:00:00.000000')
(725, 'Skandinaviska Enskilda Banken', 'Sweden', 328.454, '2017-06-30 00:00:00.000000')
(726, 'DNB', 'Norway', 324.948, '2017-06-30 00:00:00.000000')
(727, 'OCBC', 'Singapore', 311.872, '2017-06-30 00:00:00.000000')
(728, 'Hana Financial Group', 'South Korea', 304.73400000000004, '2017-06-30 00:00:00.000000')
(729, 'China Guangfa Bank (CGB)', 'China', 302.156, '2016-12-31 00:00:00.000000')
(730, 'Nationwide Building Society', 'UK', 297.60900000000004, '2017-06-30 00:00:00.000000')
(731, 'Landesbank Baden-Wurttemberg', 'Germany', 291.336, '2017-06-30 00:00:00.000000')
(732, 'Swedbank', 'Sweden', 286.955, '2017-06-30 00:00:00.000000')
(733, 'Cathay Financial Holding', 'Taiwan', 278.27299999999997, '2017-06-30 00:00:00.000000')
(734, 'Woori Bank', 'South Korea', 275.941, '2017-06-30 00:00:00.000000')
(735, 'Brazilian Development Bank (BNDES)', 'Brazil', 267.155, '2017-06-30 00:00:00.000000')
(736, 'La Banque Postale', 'France', 266.11400000000003, '2017-06-30 00:00:00.000000')
(737, 'Bank of Jiangsu', 'China', 254.822, '2017-06-30 00:00:00.000000')
(738, 'Bank of Shanghai', 'China', 252.497, '2017-06-30 00:00:00.000000')
(739, 'Bayerische Landesbank', 'Germany', 252.385, '2017-06-30 00:00:00.000000')
(740, 'United Overseas Bank (UOB)', 'Singapore', 250.03, '2017-06-30 00:00:00.000000')
(741, 'Erste Group Bank AG', 'Austria', 249.19299999999998, '2017-06-30 00:00:00.000000')
(742, 'Banco Sabadell', 'Spain', 248.396, '2017-06-30 00:00:00.000000')
(743, 'State Street Corp', 'USA', 238.274, '2017-06-30 00:00:00.000000')
(744, 'Raiffeisen Switzerland', 'Switzerland', 238.243, '2017-06-30 00:00:00.000000')
(745, 'Korea Development Bank', 'South Korea', 238.201, '2016-12-31 00:00:00.000000')
(746, 'Dexia', 'Belgium', 227.762, '2017-06-30 00:00:00.000000')
(747, 'Industrial Bank of Korea', 'South Korea', 224.794, '2017-06-30 00:00:00.000000')
(748, 'BB&T; Corporation', 'USA', 221.192, '2017-06-30 00:00:00.000000')
(749, 'Charles Schwab Corp', 'USA', 220.601, '2017-06-30 00:00:00.000000')
(751, 'Fubon Financial Holding', 'Taiwan', 216.495, '2017-06-30 00:00:00.000000')
(752, 'China Zheshang Bank', 'China', 214.41400000000002, '2017-06-30 00:00:00.000000')
(753, 'VTB Bank', 'Russia', 212.843, '2017-06-30 00:00:00.000000')
(754, 'Nykredit Group', 'Denmark', 211.93200000000002, '2017-06-30 00:00:00.000000')
(755, 'Desjardins Group', 'Canada', 209.484, '2017-06-30 00:00:00.000000')
(756, 'Suntrust Banks', 'USA', 207.22299999999998, '2017-06-30 00:00:00.000000')
(757, 'Bankia', 'Spain', 206.618, '2017-06-30 00:00:00.000000')
(758, 'Belfius', 'Belgium', 196.058, '2017-06-30 00:00:00.000000')
(760, 'Industrial & Commercial Bank of China', 'China', 4005.58, '2017-12-31 00:00:00.000000')
(761, 'China Construction Bank', 'China', 3397.13, '2017-12-31 00:00:00.000000')
(762, 'Agricultural Bank of China', 'China', 3232.68, '2017-12-31 00:00:00.000000')
(763, 'Bank of China', 'China', 2989.16, '2017-12-31 00:00:00.000000')
(764, 'Mitsubishi UFJ Financial Group', 'Japan', 2773.82, '2017-12-31 00:00:00.000000')
(765, 'JPMorgan Chase & Co', 'USA', 2533.6, '2017-12-31 00:00:00.000000')
(766, 'HSBC Holdings', 'UK', 2521.77, '2017-12-31 00:00:00.000000')
(767, 'BNP Paribas', 'France', 2348.11, '2017-12-31 00:00:00.000000')
(768, 'Bank of America', 'USA', 2281.23, '2017-12-31 00:00:00.000000')
(769, 'China Development Bank', 'China', 2201.86, '2016-12-31 00:00:00.000000')
(770, 'Credit Agricole Group', 'France', 2112.04, '2017-12-31 00:00:00.000000')
(771, 'Wells Fargo', 'USA', 1951.76, '2017-12-31 00:00:00.000000')
(772, 'Japan Post Bank', 'Japan', 1873.5, '2017-12-31 00:00:00.000000')
(773, 'Mizuho Financial Group', 'Japan', 1850.1, '2017-12-31 00:00:00.000000')
(774, 'Sumitomo Mitsui Financial Group', 'Japan', 1847.47, '2017-12-31 00:00:00.000000')
(775, 'Citigroup Inc', 'USA', 1843.06, '2017-12-31 00:00:00.000000')
(776, 'Deutsche Bank', 'Germany', 1766.85, '2017-12-31 00:00:00.000000')
(777, 'Banco Santander', 'Spain', 1730.08, '2017-12-31 00:00:00.000000')
(778, 'Barclays PLC', 'UK', 1528.89, '2017-12-31 00:00:00.000000')
(779, 'Societe Generale', 'France', 1527.43, '2017-12-31 00:00:00.000000')
(780, 'Groupe BPCE', 'France', 1509.13, '2017-12-31 00:00:00.000000')
(781, 'Bank of Communications', 'China', 1387.79, '2017-12-31 00:00:00.000000')
(782, 'Postal Savings Bank of China', 'China', 1383.85, '2017-12-31 00:00:00.000000')
(783, 'Lloyds Banking Group', 'UK', 1095.64, '2017-12-31 00:00:00.000000')
(784, 'Royal Bank of Canada', 'Canada', 1028.72, '2017-12-31 00:00:00.000000')
(785, 'ING Bank NV', 'Netherlands', 1013.65, '2017-12-31 00:00:00.000000')
(786, 'Toronto-Dominion Bank', 'Canada', 1006.98, '2017-12-31 00:00:00.000000')
(787, 'Norinchukin Bank', 'Japan', 1006.7, '2017-12-31 00:00:00.000000')
(788, 'UniCredit S.p.A.', 'Italy', 1002.36, '2017-12-31 00:00:00.000000')
(789, 'Royal Bank of Scotland Group', 'UK', 995.7289999999999, '2017-12-31 00:00:00.000000')
(790, 'Industrial Bank Co. Ltd', 'China', 985.6460000000001, '2017-12-31 00:00:00.000000')
(791, 'China Merchants Bank', 'China', 966.117, '2017-12-31 00:00:00.000000')
(792, 'Intesa Sanpaolo', 'Italy', 954.5310000000001, '2017-12-31 00:00:00.000000')
(793, 'Credit Mutuel', 'France', 950.5310000000001, '2016-12-31 00:00:00.000000')
(794, 'UBS', 'Switzerland', 937.802, '2017-12-31 00:00:00.000000')
(795, 'Shanghai Pudong Development Bank', 'China', 942.7769999999999, '2017-12-31 00:00:00.000000')
(796, 'Goldman Sachs Group', 'USA', 916.7869999999999, '2017-12-31 00:00:00.000000')
(799, 'Morgan Stanley', 'USA', 851.7330000000001, '2017-12-31 00:00:00.000000')
(801, 'BBVA', 'Spain', 826.597, '2017-12-31 00:00:00.000000')
(802, 'Credit Suisse Group', 'Switzerland', 815.587, '2017-12-31 00:00:00.000000')
(803, 'Bank of Nova Scotia', 'Canada', 754.5089999999999, '2017-12-31 00:00:00.000000')
(804, 'Commonwealth Bank of Australia', 'Australia', 750.775, '2017-12-31 00:00:00.000000')
(805, 'Rabobank Group', 'Netherlands', 722.301, '2017-12-31 00:00:00.000000')
(807, 'Nordea', 'Sweden', 695.795, '2017-12-31 00:00:00.000000')
(808, 'European Investment Bank', 'Luxembourg', 686.653, '2016-12-31 00:00:00.000000')
(810, 'Standard Chartered Plc', 'UK', 663.5010000000001, '2017-12-31 00:00:00.000000')
(812, 'China Everbright Bank', 'China', 627.737, '2017-12-31 00:00:00.000000')
(813, 'DZ Bank AG', 'Germany', 605.64, '2017-12-31 00:00:00.000000')
(814, 'Bank of Montreal', 'Canada', 578.53, '2017-12-31 00:00:00.000000')
(815, 'Sumitomo Mitsui Trust Holdings', 'Japan', 569.9490000000001, '2017-12-31 00:00:00.000000')
(816, 'Danske Bank', 'Denmark', 569.335, '2017-12-31 00:00:00.000000')
(817, 'KfW Group', 'Germany', 565.3919999999999, '2017-12-31 00:00:00.000000')
(818, 'Commerzbank', 'Germany', 541.434, '2017-12-31 00:00:00.000000')
(819, 'State Bank of India', 'India', 534.903, '2017-12-31 00:00:00.000000')
(820, 'Cassa Depositi e Prestiti (CDP)', 'Italy', 496.74, '2017-06-30 00:00:00.000000')
(822, 'Canadian Imperial Bank of Commerce', 'Canada', 483.791, '2017-12-31 00:00:00.000000')
(824, 'ABN AMRO Group NV', 'Netherlands', 470.965, '2017-12-31 00:00:00.000000')
(825, 'Sberbank of Russia', 'Russia', 470.181, '2017-12-31 00:00:00.000000')
(826, 'U.S. Bancorp', 'USA', 462.04, '2017-12-31 00:00:00.000000')
(827, 'CaixaBank', 'Spain', 459.005, '2017-12-31 00:00:00.000000')
(828, 'Itau Unibanco Holding SA', 'Brazil', 437.41, '2017-12-31 00:00:00.000000')
(829, 'Resona Holdings', 'Japan', 434.653, '2017-12-31 00:00:00.000000')
(830, 'Banco do Brasil SA', 'Brazil', 413.147, '2017-12-31 00:00:00.000000')
(831, 'KB Financial Group', 'South Korea', 409.01, '2017-12-31 00:00:00.000000')
(832, 'Shinhan Financial Group', 'South Korea', 399.19699999999995, '2017-12-31 00:00:00.000000')
(833, 'Nomura Holdings', 'Japan', 394.791, '2017-12-31 00:00:00.000000')
(834, 'DBS Group Holdings', 'Singapore', 387.25199999999995, '2017-12-31 00:00:00.000000')
(836, 'PNC Financial Services Group', 'USA', 380.76800000000003, '2017-12-31 00:00:00.000000')
(838, 'Bank of New York Mellon Corp', 'USA', 371.75800000000004, '2017-12-31 00:00:00.000000')
(839, 'Shinkin Central Bank (SCB)', 'Japan', 371.31300000000005, '2017-12-31 00:00:00.000000')
(840, 'Capital One Financial Corporation', 'USA', 365.69300000000004, '2017-12-31 00:00:00.000000')
(841, 'Banco Bradesco SA', 'Brazil', 365.49300000000005, '2017-12-31 00:00:00.000000')
(842, 'KBC Group NV', 'Belgium', 350.186, '2017-12-31 00:00:00.000000')
(844, 'OCBC', 'Singapore', 340.29699999999997, '2017-12-31 00:00:00.000000')
(845, 'Hana Financial Group', 'South Korea', 337.191, '2017-12-31 00:00:00.000000')
(846, 'Svenska Handelsbanken', 'Sweden', 336.691, '2017-12-31 00:00:00.000000')
(848, 'Woori Bank', 'South Korea', 332.89300000000003, '2017-12-31 00:00:00.000000')
(849, 'DNB', 'Norway', 328.267, '2017-12-31 00:00:00.000000')
(850, 'China Guangfa Bank (CGB)', 'China', 314.401, '2016-12-31 00:00:00.000000')
(851, 'Skandinaviska Enskilda Banken', 'Sweden', 311.457, '2017-12-31 00:00:00.000000')
(854, 'Landesbank Baden-Wurttemberg', 'Germany', 285.092, '2017-12-31 00:00:00.000000')
(855, 'La Banque Postale', 'France', 277.278, '2017-12-31 00:00:00.000000')
(857, 'Swedbank', 'Sweden', 269.238, '2017-12-31 00:00:00.000000')
(858, 'United Overseas Bank (UOB)', 'Singapore', 268.23, '2017-12-31 00:00:00.000000')
(860, 'Banco Sabadell', 'Spain', 265.145, '2017-12-31 00:00:00.000000')
(861, 'Bayerische Landesbank', 'Germany', 264.668, '2017-06-30 00:00:00.000000')
(862, 'Erste Group Bank AG', 'Austria', 264.319, '2017-12-31 00:00:00.000000')
(864, 'Industrial Bank of Korea', 'South Korea', 256.64099999999996, '2017-12-31 00:00:00.000000')
(865, 'Bankia', 'Spain', 256.26099999999997, '2017-12-31 00:00:00.000000')
(866, 'Charles Schwab Corp', 'USA', 243.274, '2017-12-31 00:00:00.000000')
(867, 'Dexia', 'Belgium', 238.847, '2017-06-30 00:00:00.000000')
(868, 'State Street Corp', 'USA', 238.425, '2017-12-31 00:00:00.000000')
(869, 'Raiffeisen Switzerland', 'Switzerland', 233.67700000000002, '2017-06-30 00:00:00.000000')
(870, 'Nykredit Group', 'Denmark', 229.493, '2017-12-31 00:00:00.000000')
(872, 'VTB Bank', 'Russia', 225.604, '2017-12-31 00:00:00.000000')
(873, 'China Zheshang Bank', 'China', 223.148, '2017-06-30 00:00:00.000000')
(874, 'BB&T; Corporation', 'USA', 221.642, '2017-12-31 00:00:00.000000')
(875, 'Qatar National Bank', 'Qatar', 221.18, '2017-12-31 00:00:00.000000')
(876, 'National Bank of Canada', 'Canada', 208.408, '2017-12-31 00:00:00.000000')
(877, 'Suntrust Banks', 'USA', 205.96200000000002, '2017-12-31 00:00:00.000000')
(878, 'Korea Development Bank', 'South Korea', 205.145, '2016-12-31 00:00:00.000000')
(879, 'Belfius', 'Belgium', 201.192, '2017-12-31 00:00:00.000000')

In [5]:
with engine.connect() as con:
    rs = con.execute('SELECT COUNT("Bank"), "Balance Sheet Date" FROM banks WHERE "Country"="USA" GROUP BY "Balance Sheet Date"')
    for row in rs:
        print(row)

2021-03-08 19:55:19,731 INFO sqlalchemy.engine.base.Engine SELECT COUNT("Bank"), "Balance Sheet Date" FROM banks WHERE "Country"="USA" GROUP BY "Balance Sheet Date"
2021-03-08 19:55:19,732 INFO sqlalchemy.engine.base.Engine ()
(5, '2012-03-31 00:00:00.000000')
(6, '2012-09-30 00:00:00.000000')
(4, '2013-03-31 00:00:00.000000')
(4, '2013-09-30 00:00:00.000000')
(6, '2014-03-31 00:00:00.000000')
(6, '2014-12-31 00:00:00.000000')
(6, '2015-06-30 00:00:00.000000')
(6, '2015-12-31 00:00:00.000000')
(16, '2016-06-30 00:00:00.000000')
(16, '2016-12-31 00:00:00.000000')
(14, '2017-06-30 00:00:00.000000')
(14, '2017-12-31 00:00:00.000000')

In [6]:
import flask
from flask import Flask, jsonify

In [7]:
x = []
y = []
with engine.connect() as con:
    rs = con.execute('SELECT COUNT("Bank"), "Balance Sheet Date" FROM banks WHERE "Country"="USA" GROUP BY "Balance Sheet Date"')
    for row in rs:
        y.append(row[0])
        x.append(row[1])
x

2021-03-08 19:55:20,143 INFO sqlalchemy.engine.base.Engine SELECT COUNT("Bank"), "Balance Sheet Date" FROM banks WHERE "Country"="USA" GROUP BY "Balance Sheet Date"
2021-03-08 19:55:20,144 INFO sqlalchemy.engine.base.Engine ()

['2012-03-31 00:00:00.000000',
 '2012-09-30 00:00:00.000000',
 '2013-03-31 00:00:00.000000',
 '2013-09-30 00:00:00.000000',
 '2014-03-31 00:00:00.000000',
 '2014-12-31 00:00:00.000000',
 '2015-06-30 00:00:00.000000',
 '2015-12-31 00:00:00.000000',
 '2016-06-30 00:00:00.000000',
 '2016-12-31 00:00:00.000000',
 '2017-06-30 00:00:00.000000',
 '2017-12-31 00:00:00.000000']